.sidebar-toggle {
  position: absolute;
  top: 0;
  right: -30px; /* Ajusta la posición según el tamaño del botón */
  width: 30px;
  height: 100%;
  background-color: #2e3b4e;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: white;
  border-radius: 0 5px 5px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s;
}

.sidebar-toggle:hover {
  background-color: #394960;
}
