.sidebar-button {
  display: flex;
  align-items: center;
  margin: 10px 0;
  cursor: pointer;
  width: 100%;
  padding: 10px;
  text-align: center;
  color: white;
  transition: background-color 0.3s;
}

.sidebar-button:hover {
  background-color: #394960;
}

.sidebar-button i {
  margin-right: 10px;
  font-size: 20px;
}

.sidebar-button span {
  display: inline-block;
}
